<form (ngSubmit)="onSubmit()" [formGroup]="userForm" class="ml-6 mr-6">
  <div class="logo pt-6 pb-3">
    <a href="https://globalinternational.com.ua" target="_blank">
      <img src="logo_GI.jpg" alt="Studio Logo" class="logo-image" />
    </a>
  </div>

  <div class="field">
    <label class="label">Full Name <span class="required">*</span></label>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="First Name"
            formControlName="firstName"
          />
        </div>
        <div
          *ngIf="
            userForm.get('firstName')?.touched &&
            userForm.get('firstName')?.invalid
          "
          class="help is-danger"
        >
          First Name is required.
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Last Name"
            formControlName="lastName"
          />
        </div>
        <div
          *ngIf="
            userForm.get('lastName')?.touched &&
            userForm.get('lastName')?.invalid
          "
          class="help is-danger"
        >
          Last Name is required.
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Address <span class="required">*</span></label>
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="Street Address"
        formControlName="streetAddress"
      />
    </div>
    <div
      *ngIf="
        userForm.get('streetAddress')?.touched &&
        userForm.get('streetAddress')?.invalid
      "
      class="help is-danger"
    >
      Street Address is required.
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="Address Line 2"
        formControlName="addressLine2"
      />
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control is-expanded">
      <input
        class="input"
        type="text"
        placeholder="City"
        formControlName="city"
      />
      <div
        *ngIf="userForm.get('city')?.touched && userForm.get('city')?.invalid"
        class="help is-danger"
      >
        City is required.
      </div>
    </div>
    <div class="control is-expanded">
      <input
        class="input"
        type="text"
        placeholder="State / Province"
        formControlName="state"
      />
      <div
        *ngIf="userForm.get('state')?.touched && userForm.get('state')?.invalid"
        class="help is-danger"
      >
        State / Province is required.
      </div>
    </div>
    <div class="control is-expanded">
      <input
        class="input"
        type="text"
        placeholder="Postal / Zip Code"
        formControlName="zipCode"
      />
      <div
        *ngIf="
          userForm.get('zipCode')?.touched && userForm.get('zipCode')?.invalid
        "
        class="help is-danger"
      >
        Postal / Zip Code is required.
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Phone Number <span class="required">*</span></label>
    <div class="control">
      <input
        class="input"
        type="tel"
        placeholder="(000) 000-0000"
        formControlName="phoneNumber"
      />
    </div>
    <div
      *ngIf="
        userForm.get('phoneNumber')?.touched &&
        userForm.get('phoneNumber')?.invalid
      "
      class="help is-danger"
    >
      <div *ngIf="userForm.get('phoneNumber')?.errors?.['required']">
        Phone Number is required.
      </div>
      <div *ngIf="userForm.get('phoneNumber')?.errors?.['pattern']">
        Phone Number format is invalid. Expected format: (000) 000-0000.
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">E-mail <span class="required">*</span></label>
    <div class="control">
      <input
        class="input"
        type="email"
        placeholder="ex: email@yahoo.com"
        formControlName="email"
      />
    </div>
    <div
      *ngIf="userForm.get('email')?.touched && userForm.get('email')?.invalid"
      class="help is-danger"
    >
      <div *ngIf="userForm.get('email')?.errors?.['required']">
        Email is required.
      </div>
      <div *ngIf="userForm.get('email')?.errors?.['email']">
        Please enter a valid email address.
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <button class="button is-primary" type="submit">Submit</button>
    </div>
  </div>
</form>
