.logo {
  display: flex;
  justify-content: center;
}

.logo-image {
  width: 120px;
  height: 120px;
}

.required {
  color: red;
  font-size: 1.2em;
  margin-left: 0.2em;
}

.help.is-danger {
  color: red;
  font-size: 0.875em;
  margin-top: 0.5em;
}
